<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    {% for item in dates %}
        <li class="alldates" style="display: none">{{item}}</li>
    {% endfor %}
    {% for item in times_22 %}
        <ul class="ul22" style="display: none">{{item}}</ul>
    {% endfor %}
    {% for item in times_28 %}
        <ul class="ul28" style="display: none">{{item}}</ul>
    {% endfor %}
    {% for item in times_34 %}
        <ul class="ul34" style="display: none">{{item}}</ul>
    {% endfor %}
    {% for item in times_26 %}
        <ul class="ul26" style="display: none">{{item}}</ul>
    {% endfor %}
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</body>
</html>
<script>
$(function () {
    var values_22 = $(".ul22").map(function() {
                 return $(this).text();
              }).get();
    for (i = 0; i < values_22.length; i++) { 
        values_22[i] = parseFloat(values_22[i]);
    }
    var values_28 = $(".ul28").map(function() {
                 return $(this).text();
              }).get();
    for (i = 0; i < values_28.length; i++) { 
        values_28[i] = parseFloat(values_28[i]);
    }
    var values_34 = $(".ul34").map(function() {
                 return $(this).text();
              }).get();
    for (i = 0; i < values_34.length; i++) { 
        values_34[i] = parseFloat(values_34[i]);
    }
    var values_26 = $(".ul26").map(function() {
                 return $(this).text();
              }).get();
    for (i = 0; i < values_26.length; i++) { 
        values_26[i] = parseFloat(values_26[i]);
    }
    $('#container').highcharts({
        title: {
            text: 'Grupo #1',//$( "li" ).text(),
            x: -20
        },
        subtitle: {
            text: 'Tiempo grupo #1',
            x: -20
        },
        xAxis: {
            categories: $(".alldates").map(function() {
                 return $(this).text();
              }).get()
        },
        yAxis: {
            min: 0,
            max: 18000,
            tickInterval: 3600,
            title: {
                text: 'Tiempo Empleado'
            },          
            labels: {
                formatter: function () {
                    var hour = Math.floor(this.value/3600);
                    var minute = Math.floor((this.value - hour*3600)/60);
                    var seconds = this.value - hour*3600 - minute*60;
                    if (minute < 10)
                    {
                        minute = "0" + minute;
                    }
                    if (seconds < 10)
                    {
                        seconds = "0" + seconds;
                    }
                    return hour + ':' + minute + ':' + seconds
                }            
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: { formatter: function() {
                var hour = Math.floor(this.point.y/3600);
                var minute = Math.floor((this.point.y - hour*3600)/60);
                var seconds = this.point.y - hour*3600 - minute*60;
                if (minute < 10)
                {
                    minute = "0" + minute;
                }
                if (seconds < 10)
                {
                    seconds = "0" + seconds;
                }
                return '<b>'+ this.series.name +':</b> ' + hour + ':' + minute + ':' + seconds;
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Adams',
            data: values_22
        }, {
            name: 'Gonzabay',
            data: values_28
        },  {
            name: 'Yagual',
            data: values_34
        },  {
            name: 'Filella',
            data: values_26
        }]
    });
});
</script>
