<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Gr&aacute;fica lineal comparativa por grupo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
	{% load static %}
	<script src="{% static "JS/linealScript.js" %}"></script>
</head>
<body>
	<div class="basic">
		{% include "tracker/includes/base.html" %}    
	</div>
    {% for item in dates %}
        <li class="alldates" style="display: none">{{item}}</li>
    {% endfor %}
    {% for item in times_1 %}
        <ul class="ul1" style="display: none">{{item}}</ul>
    {% endfor %}
    {% for item in times_2 %}
        <ul class="ul2" style="display: none">{{item}}</ul>
    {% endfor %}
    {% for item in times_3 %}
        <ul class="ul3" style="display: none">{{item}}</ul>
    {% endfor %}
    {% for item in times_4 %}
        <ul class="ul4" style="display: none">{{item}}</ul>
    {% endfor %}
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<div id="term_id" style="display: none">{{term_id}}</div>
	<div id="grupo_id" style="display: none">{{group_id}}</div>
	<p id="student1" style="display: none">{{student1}}</p>
	<p id="student2" style="display: none">{{student2}}</p>
	<p id="student3" style="display: none">{{student3}}</p>
	<p id="student4" style="display: none">{{student4}}</p>
	<ul class="pager">
		<li><a href="{% url 'linealComparativo' term_id prev_id%}">Anterior</a></li>
		<li><a href="{% url 'pieChartGrupal' term_id group_id%}">Ver gr&aacute;fica circular</a></li>
		<li><a href="{% url 'linealComparativo' term_id next_id%}">Siguiente</a></li>
	</ul>
</body>
</html>
