<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Gr&aacute;fica lineal comparativa por grupo</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    {% for item in dates %}
        <li class="alldates" style="display: none">{{item}}</li>
    {% endfor %}
    {% for item in times_1 %}
        <ul class="ul1" style="display: none">{{item}}</ul>
    {% endfor %}
    {% for item in times_2 %}
        <ul class="ul2" style="display: none">{{item}}</ul>
    {% endfor %}
    {% for item in times_3 %}
        <ul class="ul3" style="display: none">{{item}}</ul>
    {% endfor %}
    {% for item in times_4 %}
        <ul class="ul4" style="display: none">{{item}}</ul>
    {% endfor %}
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</body>
</html>
<script>
$(function () {
    var grupo_id = parseInt({{group_id}});
    var names = ["Adams", "Gonzabay", "Yagual", "Filella"];
    switch(grupo_id){
        case 2:
            names[0] = "Benitez";
            names[1] = "Mosquera";
            names[2] = "Rodriguez";
            names[3] = "Martínez";
            break;
        case 3:
            names[0] = "Moreno";
            names[1] = "Moreira, Edgar";
            names[2] = "Moreira, Maria";
            names[3] = "Manosalvas";
            break;
        case 4:
            names[0] = "Guerra";
            names[1] = "Garcia";
            names[2] = "Guilindro";
            names[3] = "Cedeño";
            break;
        case 5:
            names[0] = "Velez";
            names[1] = "Carvajal";
            names[2] = "Tenecela";
            names[3] = "Duchi";
            break;
        default:
            break;
    }
    
    var values_1 = $(".ul1").map(function() {
                 return $(this).text();
              }).get();
    for (i = 0; i < values_1.length; i++) { 
        values_1[i] = parseFloat(values_1[i]);
    }
    var values_2 = $(".ul2").map(function() {
                 return $(this).text();
              }).get();
    for (i = 0; i < values_2.length; i++) { 
        values_2[i] = parseFloat(values_2[i]);
    }
    var values_3 = $(".ul3").map(function() {
                 return $(this).text();
              }).get();
    for (i = 0; i < values_3.length; i++) { 
        values_3[i] = parseFloat(values_3[i]);
    }
    var values_4 = $(".ul4").map(function() {
                 return $(this).text();
              }).get();
    for (i = 0; i < values_4.length; i++) { 
        values_4[i] = parseFloat(values_4[i]);
    }
    $('#container').highcharts({
        title: {
            text: 'Grupo #' + grupo_id,//$( "li" ).text(),
            x: -20
        },
        subtitle: {
            text: 'Analisis comparativo del grupo #' + grupo_id,
            x: -20
        },
        xAxis: {
            categories: $(".alldates").map(function() {
                 return $(this).text();
              }).get()
        },
        yAxis: {
            min: 0,
            tickInterval: 3600,
            title: {
                text: 'Tiempo Empleado'
            },          
            labels: {
                formatter: function () {
                    var hour = Math.floor(this.value/3600);
                    var minute = Math.floor((this.value - hour*3600)/60);
                    var seconds = this.value - hour*3600 - minute*60;
                    if (minute < 10)
                    {
                        minute = "0" + minute;
                    }
                    if (seconds < 10)
                    {
                        seconds = "0" + seconds;
                    }
                    return hour + ':' + minute + ':' + seconds
                }            
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: { formatter: function() {
                var hour = Math.floor(this.point.y/3600);
                var minute = Math.floor((this.point.y - hour*3600)/60);
                var seconds = this.point.y - hour*3600 - minute*60;
                if (minute < 10)
                {
                    minute = "0" + minute;
                }
                if (seconds < 10)
                {
                    seconds = "0" + seconds;
                }
                return '<b>'+ this.series.name +':</b> ' + hour + ':' + minute + ':' + seconds;
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: names[0],
            data: values_1
        }, {
            name: names[1],
            data: values_2
        },  {
            name: names[2],
            data: values_3
        },  {
            name: names[3],
            data: values_4
        }]
    });
});
</script>
