<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Análisis Pie Chart Grupal</title>
		<style type="text/css">${demo.css}</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="http://code.highcharts.com/5.0.3/highcharts.js"></script>
        <script src="https://code.highcharts.com/5.0.3/modules/data.js"></script>
        <script src="http://code.highcharts.com/5.0.3/modules/drilldown.js"></script>
		{% load static %}
		<script src="{% static "JS/pieChartScript.js" %}"></script>
	</head>
    <body>
		<div class="basic">
			{% include "tracker/includes/base.html" %}    
		</div>
		<h3 style="text-align: center;">Grupo {{group_id}} de {{max_groups}}</h3>
		<div style="padding-left: 25px; padding-right: 25px;">
			<h4 style="text-align: center;">Las siguientes gr&aacute;ficas representan el porcentaje 
			de tiempo total que cada estudiante del grupo ha empleado para realizar su proyecto en 
			contraste con el tiempo desaprovechado. Al dar clic sobre la gráfica permite visualizar 
			las 5 interacciones m&aacute;s frecuentes.
			</h4>
		</div>
		<div id="term_id" style="position:relative;left:47%;width:100px;;color:#333333;font-size:18px;fill:#333333">{{term_id}}</div>
        <ul>
            {% for key, value in dataset_1.items %} 
                <li class="values1" style="display: none">{{value}}</li>
            {% endfor %}
            {% for key, value in dataset_2.items %} 
                <li class="values2" style="display: none">{{value}}</li>
            {% endfor %}
            {% for key, value in dataset_3.items %} 
                <li class="values3" style="display: none">{{value}}</li>
            {% endfor %}
            {% for key, value in dataset_4.items %} 
                <li class="values4" style="display: none">{{value}}</li>
            {% endfor %}
            {% for activity, time in uful_1 %}
                <li class="activitiesful1" style="display: none">{{ activity }}</li>
                <li class="timesful1" style="display: none">{{ time }}</li>
            {% endfor %}
            {% for activity, time in uless_1 %}
                <li class="activitiesless1" style="display: none" >{{ activity }}</li>
                <li class="timesless1" style="display: none">{{ time }}</li>
            {% endfor %}
            {% for activity, time in uful_2 %}
                <li class="activitiesful2" style="display: none">{{ activity }}</li>
                <li class="timesful2" style="display: none">{{ time }}</li>
            {% endfor %}
            {% for activity, time in uless_2 %}
                <li class="activitiesless2" style="display: none" >{{ activity }}</li>
                <li class="timesless2" style="display: none">{{ time }}</li>
            {% endfor %}
            {% for activity, time in uful_3 %}
                <li class="activitiesful3" style="display: none">{{ activity }}</li>
                <li class="timesful3" style="display: none">{{ time }}</li>
            {% endfor %}
            {% for activity, time in uless_3 %}
                <li class="activitiesless3" style="display: none" >{{ activity }}</li>
                <li class="timesless3" style="display: none">{{ time }}</li>
            {% endfor %}
            {% for activity, time in uful_4 %}
                <li class="activitiesful4" style="display: none">{{ activity }}</li>
                <li class="timesful4" style="display: none">{{ time }}</li>
            {% endfor %}
            {% for activity, time in uless_4 %}
                <li class="activitiesless4" style="display: none" >{{ activity }}</li>
                <li class="timesless4" style="display: none">{{ time }}</li>
            {% endfor %}
        </ul>
        <div id="container" style="width: 40%; height: 400px; margin-left: 10%; display: inline-block; float: left;"></div>
		<div id="container2" style="width: 40%; height: 400px; margin-right: 10%; display: inline-block; float: right;"></div>
        <div id="container3" style="width: 40%; height: 400px; margin-left: 10%; display: inline-block; float: left;"></div>
		<div id="container4" style="width: 40%; height: 400px; margin-right: 10%; display: inline-block; float: right;"></div>
		<p id="student1" style="display: none">{{student1}}</p>
		<p id="student2" style="display: none">{{student2}}</p>
		<p id="student3" style="display: none">{{student3}}</p>
		<p id="student4" style="display: none">{{student4}}</p>
		<div style="clear: left;">
			<ul class="pager">
				{% if group_id > prev_id %}
					<li><a href="{% url 'pieChartGrupal' term_id prev_id%}">Anterior</a></li>
				{% endif %}
				<li><a href="{% url 'linealComparativo' term_id group_id%}">Ver gr&aacute;fica lineal</a></li>
				<li><a href="{% url 'circularAplicaciones' term_id group_id%}">Ver gr&aacute;fica de aplicaciones</a></li>
				{% if group_id < next_id %}
					<li><a href="{% url 'pieChartGrupal' term_id next_id%}">Siguiente</a></li>
				{% endif %}
			</ul>
		</div>
    </body>
</html>
