<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Análisis Pie Chart Grupal</title>
		<style type="text/css">${demo.css}</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="http://code.highcharts.com/5.0.3/highcharts.js"></script>
        <script src="https://code.highcharts.com/5.0.3/modules/data.js"></script>
        <script src="http://code.highcharts.com/5.0.3/modules/drilldown.js"></script>
		{% load static %}
		<script src="{% static "JS/pieChartScript.js" %}"></script>
	</head>
    <body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="#">WebSiteName</a>
			</div>
			<ul class="nav navbar-nav">
			  <li class="active"><a href="/tracker/">Home</a></li>
			  <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="">Lineal Graphs
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="/tracker/linealComparativo/1">2016-1T</a></li>
				  <li><a href="/tracker/linealComparativo/6">2016-2T</a></li>
				</ul>
			  </li>
			  <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="/tracker/pieChartGrupal/1">Pie Charts
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="/tracker/pieChartGrupal/1">2016-1T</a></li>
				  <li><a href="/tracker/pieChartGrupal/6">2016-2T</a></li>
				</ul>
			  </li>
			  <li><a href="#">Page 3</a></li>
			</ul>
		  </div>
		</nav>
        <ul>
            {% for key, value in dataset_1.items %} 
                <li class="values1" style="display: none">{{value}}</li>
            {% endfor %}
            {% for key, value in dataset_2.items %} 
                <li class="values2" style="display: none">{{value}}</li>
            {% endfor %}
            {% for key, value in dataset_3.items %} 
                <li class="values3" style="display: none">{{value}}</li>
            {% endfor %}
            {% for key, value in dataset_4.items %} 
                <li class="values4" style="display: none">{{value}}</li>
            {% endfor %}
            {% for activity, time in uful_1 %}
                <li class="activitiesful1" style="display: none">{{ activity }}</li>
                <li class="timesful1" style="display: none">{{ time }}</li>
            {% endfor %}
            {% for activity, time in uless_1 %}
                <li class="activitiesless1" style="display: none" >{{ activity }}</li>
                <li class="timesless1" style="display: none">{{ time }}</li>
            {% endfor %}
            {% for activity, time in uful_2 %}
                <li class="activitiesful2" style="display: none">{{ activity }}</li>
                <li class="timesful2" style="display: none">{{ time }}</li>
            {% endfor %}
            {% for activity, time in uless_2 %}
                <li class="activitiesless2" style="display: none" >{{ activity }}</li>
                <li class="timesless2" style="display: none">{{ time }}</li>
            {% endfor %}
            {% for activity, time in uful_3 %}
                <li class="activitiesful3" style="display: none">{{ activity }}</li>
                <li class="timesful3" style="display: none">{{ time }}</li>
            {% endfor %}
            {% for activity, time in uless_3 %}
                <li class="activitiesless3" style="display: none" >{{ activity }}</li>
                <li class="timesless3" style="display: none">{{ time }}</li>
            {% endfor %}
            {% for activity, time in uful_4 %}
                <li class="activitiesful4" style="display: none">{{ activity }}</li>
                <li class="timesful4" style="display: none">{{ time }}</li>
            {% endfor %}
            {% for activity, time in uless_4 %}
                <li class="activitiesless4" style="display: none" >{{ activity }}</li>
                <li class="timesless4" style="display: none">{{ time }}</li>
            {% endfor %}
        </ul>
        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        <div id="container2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        <div id="container3" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        <div id="container4" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
    </body>
</html>
