<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Gr&aacute;fica lineal comparativa por grupo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
	{% load static %}
	<script src="{% static "JS/linealScript.js" %}"></script>
</head>
<body>
	<div class="basic">
		{% include "tracker/includes/base.html" %}    
	</div>
	<h3 style="text-align: center;">Grupo {{group_id}} de {{max_groups}}</h3>
	<div style="padding-left: 25px; padding-right: 25px;">
		<h4 style="text-align: center;">La siguiente gr&aacute;fica permite comparar el tiempo empleado entre estudiantes 
		del grupo. El eje "y" representa el tiempo (medido en horas) que los estudiantes de un grupo han empleado para 
		realizar el proyecto asignado y el eje "x" los días que los estudiantes usaron la máquina virtual. No se tiene 
		en cuenta el tiempo desaprovechado (tiempo usando aplicaciones que no intervienen en el desarrollo del proyecto).
		Seleccione parte de la gráfica con el mouse y arrastre una sección para hacer zoom.
		</h4>
	</div>
    {% for item in dates %}
        <li class="alldates" style="display: none">{{item}}</li>
    {% endfor %}
    {% for item in times_1 %}
        <ul class="ul1" style="display: none">{{item}}</ul>
    {% endfor %}
    {% for item in times_2 %}
        <ul class="ul2" style="display: none">{{item}}</ul>
    {% endfor %}
    {% for item in times_3 %}
        <ul class="ul3" style="display: none">{{item}}</ul>
    {% endfor %}
    {% for item in times_4 %}
        <ul class="ul4" style="display: none">{{item}}</ul>
    {% endfor %}
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<div id="term_id" style="display: none">{{term_id}}</div>
	<div id="group_id" style="display: none">{{group_id}}</div>
	<p id="student1" style="display: none">{{student1}}</p>
	<p id="student2" style="display: none">{{student2}}</p>
	<p id="student3" style="display: none">{{student3}}</p>
	<p id="student4" style="display: none">{{student4}}</p>
	<ul class="pager">
		{% if group_id > prev_id %}
			<li><a href="{% url 'linealComparativo' term_id prev_id%}">Anterior</a></li>
		{% endif %}
		<li><a href="{% url 'pieChartGrupal' term_id group_id%}">Ver gr&aacute;fica circular</a></li>
		<li><a href="{% url 'graficaProductividad' term_id group_id "0"%}">Ver gr&aacute;fica de productividad</a></li>
		<li><a href="{% url 'circularAplicaciones' term_id group_id%}">Ver gr&aacute;fica de aplicaciones</a></li>
		{% if group_id < next_id %}
			<li><a href="{% url 'linealComparativo' term_id next_id%}">Siguiente</a></li>
		{% endif %}
	</ul>
</body>
</html>
