<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">WebSiteName</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="/tracker/">Principal</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="">Gr&aacute;fica Lineal
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/tracker/linealComparativo/1/1">2016-1T</a>
						</li>
						<li>
							<a href="/tracker/linealComparativo/2/1">2016-2T</a>
						</li>
					</ul>
				</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="/tracker/pieChartGrupal/1">Gr&aacute;fica Circular
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/tracker/pieChartGrupal/1/1">2016-1T</a>
					</li>
					<li>
						<a href="/tracker/pieChartGrupal/2/1">2016-2T</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="/tracker/circularAplicaciones/1">Interacci&oacute;n de aplicaciones
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/tracker/circularAplicaciones/1/1">2016-1T</a>
					</li>
					<li>
						<a href="/tracker/circularAplicaciones/2/1">2016-2T</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
<h3 style="text-align: center;">Grupo {{group_id}} de {{max_groups}}</h3>